<div
	id="carouselExampleIndicators"
	data-mdb-carousel-init
	class="carousel slide carousel-fade"
	data-mdb-ride="carousel">
	<div class="carousel-inner bg-white mb-5 px-2 mt-0">
		<div class="carousel-item active">
			<div
				class="container d-flex justify-content-between align-items-center flex-column-reverse flex-lg-row">
				<div class="d-flex flex-column gap-2 col-11 col-lg-5">
					<span class="text-success fs-12 rounded">Weekend Discount</span>
					<div class="mt-3">
						<h1 class="fw-bolder" style="color: #494745">Shopping with us for better quality and the best price</h1>
					</div>
					<p class="fs-14">We have prepared special discounts for you on organic breakfast products.</p>
					<div class="d-flex gap-3 align-items-center">
						<a href="/products" class="btn btn-primary rounded-9"
							>Shop Now <i class="fas fa-arrow-right-long ms-1"></i
						></a>
						<div class="d-flex flex-column">
							<div class="d-flex align-items-end gap-1">
								<span class="fs-5 fw-bolder text-danger p-0 m-0">$45.45</span>
								<span class="fs-7 text-muted text-decoration-line-through">$67.34</span>
							</div>
							<span style="font-size: 10px">Don't miss this limited time offer.</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<img
						src="/images/landing-3.jpg"
						loading="lazy"
						class="d-block w-100 text-end"
						alt="..." />
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div
				class="container d-flex justify-content-between align-items-center flex-column-reverse flex-lg-row">
				<div class="d-flex flex-column gap-2 col-11 col-lg-5">
					<span class="text-success fs-12 rounded">Weekend Discount</span>
					<div class="mt-1">
						<h1 class="fw-bolder" style="color: #494745">Get the best quality products at the lowest prices</h1>
					</div>
					<p class="fs-14">We have prepared special discounts for you on organic breakfast products.</p>
					<div class="d-flex gap-3 align-items-center">
						<a href="/products" class="btn btn-primary rounded-9">Shop Now <i class="fas fa-arrow-right-long ms-1"></i></a>
						<div class="d-flex flex-column">
							<div class="d-flex align-items-end gap-1">
								<span class="fs-5 fw-bolder text-danger p-0 m-0">$245.45</span>
								<span class="fs-7 text-muted text-decoration-line-through">$127.34</span>
							</div>
							<span style="font-size: 10px">Don't miss this limited time offer.</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<img
						loading="lazy"
						src="/images/landing-1.jpg"
						class="d-block w-100 text-end"
						alt="..." />
				</div>
			</div>
		</div>
	</div>
	<button
		data-mdb-button-init
		class="carousel-control-prev"
		type="button"
		data-mdb-target="#carouselExampleIndicators"
		data-mdb-slide="prev">
		<span aria-hidden="true">
			<i class="fa fa-arrow-alt-circle-left text-white rounded-circle bg-primary fs-1"></i>
		</span>
		<span class="visually-hidden bg-primary">Previous</span>
	</button>
	<button
		data-mdb-button-init
		class="carousel-control-next"
		type="button"
		data-mdb-target="#carouselExampleIndicators"
		data-mdb-slide="next">
		<span aria-hidden="true">
			<i class="fa fa-arrow-alt-circle-right text-white rounded-circle bg-primary fs-1"></i>
		</span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
