<section
	style="font-size: 14px" class="container-fluid d-none d-lg-flex justify-content-between flex-wrap px-4 py-5 px-lg-5 py-lg-3">
	<div class="d-flex align-items-center col-12 col-md-3 gap-3">
		<img src="./images/features1.png" loading="lazy" class="img-fluid" width="120" alt="" />
		<div class="d-flex flex-column gap-2">
			<h5 class="fw-bold" style="font-size: 16px;">Payment only online</h5>
			<p class="m-0 text-muted">
				Tasigförsamhet beteendedesign. Mobile checkout. Ylig kärrtorpa.
			</p>
		</div>
	</div>
	<div class="d-flex align-items-center col-12 col-md-3 gap-3">
		<img src="./images/features2.png" loading="lazy" class="img-fluid" width="120" alt="" />
		<div class="d-flex flex-column gap-2">
			<h5 class="fw-bold" style="font-size: 16px;">New stocks and sales</h5>
			<p class="m-0 text-muted">Tasigförsamhet beteendedesign. Mobile checkout. Ylig kärrtorpa</p>
		</div>
	</div>
	<div class="d-flex align-items-center col-12 col-md-3 gap-3">
		<img src="./images/features3.png" loading="lazy" class="img-fluid" width="120" alt="" />
		<div class="d-flex flex-column gap-2">
			<h5 class="fw-bold" style="font-size: 16px;">Quality assurance</h5>
			<p class="m-0 text-muted">Tasigförsamhet beteendedesign. Mobile checkout. Ylig kärrtorpa.</p>
		</div>
	</div>
	<div class="d-flex align-items-center col-12 col-md-3 gap-3">
		<img src="./images/features4.png" class="img-fluid" width="120" alt="" />
		<div class="d-flex flex-column gap-2">
			<h5 class="fw-bold" style="font-size: 16px;">Delivery from 1 hour</h5>
			<p class="m-0 text-muted">Tasigförsamhet beteendedesign. Mobile checkout. Ylig kärrtorpa.</p>
		</div>
	</div>
</section>
<section
	class=" d-none d-lg-flex justify-content-between align-items-center bg-primary-subtle mb-5 px-4 px-lg-5 mt-5">
	<div class="">
		<h5 class="text-primary fw-bold">In store or online your health & safety is our top priority</h5>
		<p class="m-0 text-muted">The only supermarket that makes your life easier, makes you enjoy life and makes it better</p>
	</div>
	<div>
		<img src="./images/promo.png" loading="lazy" class="img-fluid" alt="">
	</div>
</section>
