<div class="container-fluid">
	<div class="py-8 bg-light ">
<div class="container">
  <!-- row -->
  <div class="row">
    <div class="offset-xl-3 col-xl-6 col-md-12">
      <!-- heading -->
      <div class="text-center mb-8">
        <h2 class="display-4 fw-bold mb-3">Developer<span class="mx-2"><svg xmlns="http://www.w3.org/2000/svg"
              width="30" height="30" fill="currentColor" class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg></span>Geeks
        </h2>
        <!-- para -->
        <p class="fs-4">Our average call quality rating is 4.4 out of 5. That leads to happy
          tweets like these:</p>
      </div>

    </div>
  </div>


  <div class="row">
    <!-- col -->
    <div class="col-md-6 col-12">
      <!-- card -->
      <div class="card mb-6 mb-lg-0">
        <!-- card body -->
        <div class="card-body p-6">
          <span class=" mb-3 d-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote text-light-primary  "
            viewBox="0 0 16 16">
            <path
              d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
          </svg>

          <p class="fs-3 text-dark fw-semibold">"Geeks has created an incredibly seamless
            experience for app design. My mind is blown
            fusce consequat ligula in dui congue interdum."</p>

          <div class="d-flex mt-4 align-items-center">
            <img src="../assets/images/avatar/avatar-1.jpg" alt="" class="avatar avatar-md rounded-circle">
            <div class="ms-2">
              <h5 class="text-primary mb-0">Ronald Richards</h5>
              <p class="mb-0 fs-6">Payments Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <!-- card -->
      <div class="card">
        <!-- card body -->
        <div class="card-body p-6">

          <span class=" mb-3 d-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-quote text-light-primary  "
            viewBox="0 0 16 16">
            <path
              d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
          </svg>
          </span>
          <p class="fs-3 text-dark fw-semibold">"I am very satisfied with my purchase. Your team
            helped me a lot with the new release for RLT
            version. I hope you are always successful."</p>
          <div class="d-flex mt-4 align-items-center">
            <img src="../assets/images/avatar/avatar-9.jpg" alt="" class="avatar avatar-md rounded-circle">
            <div class="ms-2">
              <h5 class="text-primary mb-0">Darlene Robertson</h5>
              <p class="mb-0 fs-6">Senior Data Analyst</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
     </div>
</div>
<div class="container-fluid">
	<div
		id="carouselMultiItemExample"
		data-mdb-carousel-init
		class="carousel slide carousel-dark text-center mt-5"
		data-mdb-ride="carousel">
		<div class="row d-flex justify-content-center">
			<div class="col-md-10 col-xl-8 text-center">
				<h2 class="fw-bold mb-4">Testimonials</h2>
				<p class="mb-4 pb-2 mb-md-5 pb-md-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
					amet numquam iure provident voluptate esse quasi, veritatis totam
					voluptas nostrum quisquam eum porro a pariatur veniam.
				</p>
			</div>
		</div>
		<div class="d-flex justify-content-center mb-4">
			<button
				data-mdb-button-init
				class="carousel-control-prev position-relative"
				type="button"
				data-mdb-target="#carouselMultiItemExample"
				data-mdb-slide="prev">
				<span
					class="carousel-control-prev-icon text-body"
					aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				data-mdb-button-init
				class="carousel-control-next position-relative"
				type="button"
				data-mdb-target="#carouselMultiItemExample"
				data-mdb-slide="next">
				<span
					class="carousel-control-next-icon text-body"
					aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="carousel-inner py-4">
			<div class="carousel-item active">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<img
								loading="lazy"
								class="rounded-circle shadow-1-strong mb-4"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Anna Deynah</h5>
							<p>UX Designer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
								eos id officiis hic tenetur quae quaerat ad velit ab hic
								tenetur.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
							</ul>
						</div>
						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">John Doe</h5>
							<p>Web Developer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Ut enim ad minima veniam, quis nostrum exercitationem ullam
								corporis suscipit laboriosam, nisi ut aliquid commodi.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li>
									<i class="fas fa-star-half-alt fa-sm"></i>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Maria Kate</h5>
							<p>Photographer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								At vero eos et accusamus et iusto odio dignissimos ducimus qui
								blanditiis praesentium voluptatum deleniti atque corrupti.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="far fa-star fa-sm"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">John Doe</h5>
							<p>UX Designer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
								eos id officiis hic tenetur quae quaerat ad velit ab hic
								tenetur.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
							</ul>
						</div>
						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Alex Rey</h5>
							<p>Web Developer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Ut enim ad minima veniam, quis nostrum exercitationem ullam
								corporis suscipit laboriosam, nisi ut aliquid commodi.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li>
									<i class="fas fa-star-half-alt fa-sm"></i>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Maria Kate</h5>
							<p>Photographer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								At vero eos et accusamus et iusto odio dignissimos ducimus qui
								blanditiis praesentium voluptatum deleniti atque corrupti.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="far fa-star fa-sm"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Anna Deynah</h5>
							<p>UX Designer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
								eos id officiis hic tenetur quae quaerat ad velit ab hic
								tenetur.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
							</ul>
						</div>

						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">John Doe</h5>
							<p>Web Developer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								Ut enim ad minima veniam, quis nostrum exercitationem ullam
								corporis suscipit laboriosam, nisi ut aliquid commodi.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li>
									<i class="fas fa-star-half-alt fa-sm"></i>
								</li>
							</ul>
						</div>

						<div class="col-lg-4 d-none d-lg-block">
							<img
								class="rounded-circle shadow-1-strong mb-4"
								loading="lazy"
								src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp"
								alt="avatar"
								style="width: 150px" />
							<h5 class="mb-3">Maria Kate</h5>
							<p>Photographer</p>
							<p class="text-muted">
								<i class="fas fa-quote-left pe-2"></i>
								At vero eos et accusamus et iusto odio dignissimos ducimus qui
								blanditiis praesentium voluptatum deleniti atque corrupti.
							</p>
							<ul
								class="list-unstyled d-flex justify-content-center text-warning mb-0">
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="fas fa-star fa-sm"></i></li>
								<li><i class="far fa-star fa-sm"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
