<div class="d-flex flex-column">
	<div
		class="d-flex justify-content-center align-items-center py-1 bg-dark text-light"
		style="font-size: 12px">
		<div
			class="d-flex justify-content-center justify-content-md-between align-items-center col-12 col-md-8">
			<p class="d-none d-md-block m-0 fs-7 opacity-75">FREE delivery & 40% Discount for next 3 orders! Place your 1st order in.</p>
			<div class="d-flex align-items-center gap-3">
				<span class="opacity-75">Until the end of the sale:</span>
				<div class="d-flex gap-2">
					<div>
						<span class="fw-bold fs-6" id="days"></span>
						<span class="opacity-75">d</span>
					</div>
					<div>
						<span class="fw-bold fs-6" id="hours"></span>
						<span class="opacity-75">hr</span>
					</div>
					<div>
						<span class="fw-bold fs-6" id="minutes"></span>
						<span class="opacity-75">min</span>
					</div>
					<div>
						<span class="fw-bold fs-6" id="seconds"></span>
						<span class="opacity-75">s</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="container-fluid py-2 d-flex justify-content-end justify-content-md-between gap-4"
		style="font-size: 12px">
		<div class="d-none d-md-flex gap-3">
			<ul class="d-flex gap-3 flex-row m-0 p-0" style="list-style: none">
				<li class=""><a href="" class="text-dark">About Us</a></li>
				<li class=""><a href="" class="text-dark">My Account</a></li>
				<li class=""><a href="" class="text-dark">Wishlist</a></li>
				<li class=""><a href="/help-center" class="text-dark">Help Center</a></li>
			</ul>
			<p class="m-0">
				We deliver to you every day from
				<span class="fw-bold text-danger"> 7:00 to 23:00</span>
			</p>
		</div>
		<div class="d-flex">
			<div class="dropdown" style="z-index: 10000">
				<a
					class="text-reset dropdown-toggle me-3 hidden-arrow"
					href="#"
					id="navbarDropdown"
					role="button"
					data-mdb-dropdown-init
					aria-expanded="false">
					<i class="flag-uk flag m-0"></i>
					Language<i class="fas fa-chevron-down ms-2"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#"><i class="flag-uk flag"></i>English<i class="fa fa-check text-success ms-2"></i></a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="#"><i class="flag-ru flag"></i>Русский</a></li>
					<li><a class="dropdown-item" href="#"><i class="flag-pt flag"></i>Português</a></li>
				</ul>
			</div>
			<div class="dropdown ms-2" style="z-index: 10000">
				<a
					class="currencyDropdown text-reset dropdown-toggle me-3 hidden-arrow"
					href="#"
					id="navbarDropdown"
					role="button"
					data-mdb-dropdown-init
					aria-expanded="false">
					Currency <i class="fas fa-chevron-down ms-2"></i>
				</a>
				<ul
					class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-af flag"></i>AFN</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-us flag"></i>USD</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-european-union flag"></i> EUR</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-pakistan flag"></i> PKR</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-russia flag"></i> RUB</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-china flag"></i> CNY</a></li>
					<li><a class="dropdown-item each-currency" href="#"><i class="flag-india flag"></i> INR</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
