<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 Page Not Found</title>
		<link
			href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css"
			rel="stylesheet" />
	</head>
	<body class="d-flex justify-content-center align-items-center vh-100">
		<div class="p-5 bg-body">
			<div class="card p-5 shadow-0">
				<h2 class="card-title">
					<span class="text-primary fw-bold">404</span><br>Oops! Page Not Found
				</h2>
				<p class="card-text">
					We can't seem to find the page you're looking for.
				</p>
				<a href="/" class="btn btn-primary">Go Back to Home</a>
			</div>
		</div>

		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/mdb-ui-kit/js/mdb.min.js"></script>
	</body>
</html>
