<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Forgot Password</title>
		<!-- MDBootstrap CSS -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
			rel="stylesheet" />
	</head>
	<body>
		<% if (errorMessage) { %>
		<div
			data-mdb-alert-init=""
			class="alert alert-danger rounded-0"
			role="alert"
			data-mdb-color="danger"
			data-mdb-alert-initialized="true">
			<%= errorMessage %>
		</div>

		<% } %>
		<div
			class="container d-flex justify-content-center align-items-center"
			style="height: 100vh">
			<div class="card p-4 shadow" style="width: 400px">
				<h4 class="text-center mb-4">Forgot Password</h4>
				<form action="/auth/forgot-password" method="post">
					<div class="form-outline mb-3">
						<input
							name="email"
							type="email"
							id="email"
							class="form-control"
							required />
						<label class="form-label" for="email">Enter your email</label>
					</div>
					<button type="submit" class="btn btn-primary btn-block">
						Reset Password
					</button>
					<div class="text-center mt-3">
						<a href="auth/login">Back to Login</a>
					</div>
				</form>
			</div>
		</div>

		<!-- MDBootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
	</body>
</html>
