<div class="<% if(user) { %> content-wrapper bg-white <% }%> py-5">
	<div class="py-5 px-1">
		<h2>Featured Products</h2>
		<div class="row my-5" <%if(!user){%>
			style="padding: 2% 5% 2% 5%"<%}%>> 
			<div class="col-lg-4 col-md-4 py-2">
				<%- include('../partials/product-card', { product: product }) %>
			</div>
		</div>
	</div>
</div>
