<%- include('../partials/header'), { pageTitle: pageTitle, user:user} %>

<div class="container-fluid px-1 px-lg-3 py-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h4 class="mb-0">Product Collection</h4>
	</div>
	<% if(products.length === 0) {%>
	<h3 class="text-center">No Products Found!</h3>
	<% }else{ %>
	<div class="col-12 d-flex justify-content-start flex-wrap">
		<% products.forEach(product => { %>
		<div class="col-6 col-lg-2 p-1">
			<%- include('../partials/productCard', { product: product }) %>
		</div>
		<% }); %>
	</div>
	<%- include("../partials/pagination", {totalPages: totalPages,
	currentPagination:currentPagination}) %> <% } %>
</div>

<%- include('../partials/footer') %>
