<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Verification link has been sent to your email</title>
	</head>
	<body
		class="bg-secondary d-flex justify-content-center align-items-center vh-100">
		<h3>
			<span class="text-primary fw-bold">OXIANA</span> sent a verification link
			to your <span class="text-primary"><%= email %></span>.<br />Verify your
			email to continue.
		</h3>
	</body>
</html>
